html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: black;
  font-size: 16px;
  color: #434343;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

main {
  max-width: 500px;
  width: 80%;
  height: 80%;
  border-radius: 45px;
  display: flex;
  flex-flow: column wrap;
}

main > header {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: white;
  background: linear-gradient(135deg, #91eae4, #86a8e7, #717fd5);
  border-radius: 45px 45px 0 0;
}

main > ul {
  width: 100%;
  flex: 1 1 100px;
  margin: 0;
  padding: 0;
  background: #ebebeb;
  overflow: auto;
  padding: 20px 15px;
}

main > ul > li {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

main > ul > li > span {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 1px;
}

main > ul > li > button {
  height: 30px;
  flex: 0 0 30px;
  margin-left: 15px;
  background: transparent;
}

main > ul > li > button > i {
  color: #434343;
  transition: transform 0.1s ease-in-out;
}

main > ul > li > button:hover > i {
  color: #dd2323;
  transform: scale(1.1);
}

main > aside {
  display: flex;
  flex-flow: column wrap;
  background: linear-gradient(135deg, #91eae4, #86a8e7, #717fd5);
  border-radius: 0 0 45px 45px;
}

main > aside > input {
  border: none;
  outline: none;
  height: 40px;
  padding: 5px 15px 2px;
  font-size: 16px;
  color: #434343;
}

main > aside > button {
  margin: 10px auto 15px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  position: relative;
}

main > aside > button:hover {
  background-color: aliceblue;
}

main > aside > button::before {
  content: '';
  width: 6px;
  height: 30px;
  background: #434343;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 3px);
  transition: transform 0.1s ease-in-out;
  backface-visibility: hidden;
}

main > aside > button::after {
  content: '';
  width: 30px;
  height: 6px;
  background: #434343;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 15px);
  transition: transform 0.1s ease-in-out;
  backface-visibility: hidden;
}

main > aside > button:hover::before {
  transform: scale(1.1);
}
main > aside > button:hover::after {
  transform: scale(1.1);
}

/* digital accessibility */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
